In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'item_categories.csv', 'items.csv', 'sample_submission.csv', 'sales_train.csv', 'shops.csv']

In [3]:
test = pd.read_csv('../input/test.csv')
item_categories = pd.read_csv('../input/item_categories.csv')
items = pd.read_csv('../input/items.csv')
shops = pd.read_csv('../input/shops.csv')
train = pd.read_csv('../input/sales_train.csv', parse_dates=['date'])

In [4]:
train.head()

        date  date_block_num      ...       item_price  item_cnt_day
0 2013-02-01               0      ...           999.00           1.0
1 2013-03-01               0      ...           899.00           1.0
2 2013-05-01               0      ...           899.00          -1.0
3 2013-06-01               0      ...          1709.05           1.0
4 2013-01-15               0      ...          1099.00           1.0

[5 rows x 6 columns]

In [5]:
items.head()

                                           item_name        ...         item_category_id
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        ...                       40
1  !ABBYY FineReader 12 Professional Edition Full...        ...                       76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        ...                       40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        ...                       40
4        ***КОРОБКА (СТЕКЛО)                       D        ...                       40

[5 rows x 3 columns]

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns 
import altair as alt

In [7]:
train = train[train['item_cnt_day'] < 2000]
train = train[train['item_price'] < 300000]

price_correction = train[(train['shop_id'] == 32) & (train['item_id'] == 2973) & (train['date_block_num'] == 4) & (train['item_price'] > 0)].item_price.median()
train.loc[train['item_price'] < 0, 'item_price'] = price_correction

In [8]:
train.loc[train['shop_id'] == 0, 'shop_id'] = 57
test.loc[test['shop_id'] == 0, 'shop_id'] = 57

train.loc[train['shop_id'] == 1, 'shop_id'] = 58
test.loc[test['shop_id'] == 1, 'shop_id'] = 58

train.loc[train['shop_id'] == 10, 'shop_id'] = 11
test.loc[test['shop_id'] == 10, 'shop_id'] = 11

In [9]:
cities = shops['shop_name'].str.split(' ').map(lambda row: row[0])
cities.unique()

array(['!Якутск', 'Адыгея', 'Балашиха', 'Волжский', 'Вологда', 'Воронеж',
       'Выездная', 'Жуковский', 'Интернет-магазин', 'Казань', 'Калуга',
       'Коломна', 'Красноярск', 'Курск', 'Москва', 'Мытищи', 'Н.Новгород',
       'Новосибирск', 'Омск', 'РостовНаДону', 'СПб', 'Самара', 'Сергиев',
       'Сургут', 'Томск', 'Тюмень', 'Уфа', 'Химки', 'Цифровой', 'Чехов',
       'Якутск', 'Ярославль'], dtype=object)

In [10]:
shops['city'] = shops['shop_name'].str.split(' ').map(lambda row: row[0])
shops.loc[shops.city == '!Якутск', 'city'] = 'Якутск'

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit_transform(shops['city'])

shops['city_label'] = le.fit_transform(shops['city'])
shops.drop(['shop_name', 'city'], axis = 1, inplace = True)
shops.head()

   shop_id  city_label
0        0          29
1        1          29
2        2           0
3        3           1
4        4           2

In [11]:
le = preprocessing.LabelEncoder()

main_categories = item_categories['item_category_name'].str.split('-')
item_categories['main_category_id'] = main_categories.map(lambda row: row[0].strip())
item_categories['main_category_id'] = le.fit_transform(item_categories['main_category_id'])

# Some items don't have sub-categories. For those, we will use the main category as a sub-category
item_categories['sub_category_id'] = main_categories.map(lambda row: row[1].strip() if len(row) > 1 else row[0].strip())
item_categories['sub_category_id'] = le.fit_transform(item_categories['sub_category_id'])

In [12]:
item_categories.head()

        item_category_name       ...         sub_category_id
0  PC - Гарнитуры/Наушники       ...                      29
1         Аксессуары - PS2       ...                       9
2         Аксессуары - PS3       ...                      10
3         Аксессуары - PS4       ...                      11
4         Аксессуары - PSP       ...                      13

[5 rows x 4 columns]

In [13]:
train.head()

        date  date_block_num      ...       item_price  item_cnt_day
0 2013-02-01               0      ...           999.00           1.0
1 2013-03-01               0      ...           899.00           1.0
2 2013-05-01               0      ...           899.00          -1.0
3 2013-06-01               0      ...          1709.05           1.0
4 2013-01-15               0      ...          1099.00           1.0

[5 rows x 6 columns]

In [14]:
x = train.groupby(['shop_id', 'item_id', 'date_block_num'])['item_cnt_day'].sum().rename('item_cnt_month').reset_index()
test.insert(loc=3, column='date_block_num', value=34)

In [15]:
x.head()

   shop_id  item_id  date_block_num  item_cnt_month
0        2       27               0             1.0
1        2       27              17             1.0
2        2       30               2             1.0
3        2       30               5             1.0
4        2       30              15             1.0

In [16]:
test.head()

   ID  shop_id  item_id  date_block_num
0   0        5     5037              34
1   1        5     5320              34
2   2        5     5233              34
3   3        5     5232              34
4   4        5     5268              34

In [17]:
test['item_cnt_month'] = 0

In [18]:
new_train = x.append(test.drop('ID', axis = 1))

In [19]:
new_train = pd.merge(new_train, shops, on=['shop_id'], how='left')
new_train.head()

   shop_id  item_id  date_block_num  item_cnt_month  city_label
0        2       27               0             1.0           0
1        2       27              17             1.0           0
2        2       30               2             1.0           0
3        2       30               5             1.0           0
4        2       30              15             1.0           0

In [20]:
new_train = pd.merge(new_train, items.drop('item_name', axis = 1), on=['item_id'], how='left')
new_train.head()

   shop_id  item_id        ...         city_label  item_category_id
0        2       27        ...                  0                19
1        2       27        ...                  0                19
2        2       30        ...                  0                40
3        2       30        ...                  0                40
4        2       30        ...                  0                40

[5 rows x 6 columns]

In [21]:
new_train = pd.merge(new_train, item_categories.drop('item_category_name', axis = 1), on=['item_category_id'], how='left')
new_train.head()

   shop_id  item_id       ...         main_category_id  sub_category_id
0        2       27       ...                        5               10
1        2       27       ...                        5               10
2        2       30       ...                       11                4
3        2       30       ...                       11                4
4        2       30       ...                       11                4

[5 rows x 8 columns]

In [23]:
 def generate_lag(train, months, lag_column):
    for month in months:
        # Speed up by grabbing only the useful bits
        train_shift = train[['date_block_num', 'shop_id', 'item_id', lag_column]].copy()
        train_shift.columns = ['date_block_num', 'shop_id', 'item_id', lag_column+'_lag_'+ str(month)]
        train_shift['date_block_num'] += month
        train = pd.merge(train, train_shift, on=['date_block_num', 'shop_id', 'item_id'], how='left')
    return train

In [24]:
new_train = generate_lag(new_train, [1,2,3,4,5,6,12], 'item_cnt_month')
new_train.head()

   shop_id          ...            item_cnt_month_lag_12
0        2          ...                              NaN
1        2          ...                              NaN
2        2          ...                              NaN
3        2          ...                              NaN
4        2          ...                              NaN

[5 rows x 15 columns]

In [ ]:

import xgboost as xgb
def xgtrain():
    regressor = xgb.XGBRegressor(n_estimators = 5000,
                                 learning_rate = 0.01,
                                 max_depth = 10,
                                 subsample = 0.5,
                                 colsample_bytree = 0.5)
    
    regressor_ = regressor.fit(new_train[new_train.date_block_num < 33].drop(['item_cnt_month'], axis=1).values, 
                               new_train[new_train.date_block_num < 33]['item_cnt_month'].values, 
                               eval_metric = 'rmse', 
                               eval_set = [(new_train[new_train.date_block_num < 33].drop(['item_cnt_month'], axis=1).values, 
                                            new_train[new_train.date_block_num < 33]['item_cnt_month'].values), 
                                           (new_train[new_train.date_block_num == 33].drop(['item_cnt_month'], axis=1).values, 
                                            new_train[new_train.date_block_num == 33]['item_cnt_month'].values)
                                          ], 
                               verbose=True,
                               early_stopping_rounds = 50,
                              )
    return regressor_

In [ ]:
%%time
regressor_ = xgtrain()